@import './components/DemoableDiv/DemoableDiv.css';

/* compensate for the sticky header */
a.anchor {
    display: block;
    position: relative;
    height:      75px;
    margin-top: -75px;
}

body {
    font-family: 'roboto', sans-serif;
}
